<!DOCTYPE html>
<html>
<head>

  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  <title>Events</title>
   <%= javascript_include_tag "jquery.js" %>
   <%= stylesheet_link_tag    "application", :media => "all" %>
   <%= javascript_include_tag "datepicker.js" %>
   <%= javascript_include_tag "jquery.simplemodal-1.4.4.js" %>
   <%= javascript_include_tag "moment.js" %>
   <%= javascript_include_tag "fullcalendar.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
<script type="text/javascript"></script>
